@charset "utf-8";

@use "sass:math" as *;


.weekday-separator >* {
  margin-inline-start: 0.08em !important;
  margin-inline-end: 0.08em !important;
}

.hairia-prefix >* {
  margin-block: -100%;
  margin-inline-end: div(0.05em, 0.7) !important;
  font-size: 70%;
  vertical-align: 0.35em;
}