@charset "utf-8";

@import "./page/main-page.scss";
@import "./compound/clock.scss";
@import "./compound/letter.scss";


body {
  margin: 0px;
  padding: 0px;
  font-family: "Jost";
  font-weight: 400;
  line-height: 1;
  font-feature-settings: "tnum" 1;
  overflow: hidden;
  user-select: none;
}