@charset "utf-8";

@import "./page/page.scss";
@import "./page/clock-page.scss";
@import "./page/meteo-page.scss";
@import "./atom/icon.scss";
@import "./atom/letter.scss";
@import "./atom/menu-button.scss";
@import "./compound/clock-pane.scss";
@import "./compound/meteo-pane.scss";


html {
  font-size: min(100vw / ($page-width / 1rem), 100vh / (($page-height + $menu-height) / 1rem));
}

body {
  margin: 0rem;
  padding: 0rem;
  font-family: "Gill Sans Nova";
  font-weight: 300;
  line-height: 1;
  font-feature-settings: "ss01" 1, "ss03" 1, "tnum" 1;
  overflow: hidden;
  user-select: none;
}