@charset "utf-8";

@import "./page/clock-page.scss";
@import "./page/meteo-page.scss";
@import "./atom/icon.scss";
@import "./atom/letter.scss";
@import "./compound/clock-pane.scss";
@import "./compound/meteo-pane.scss";


html {
  font-size: min(100vw / 241, 100vh / 98);
}

body {
  margin: 0rem;
  padding: 0rem;
  font-family: "Gill Sans Nova";
  font-weight: 300;
  line-height: 1;
  font-feature-settings: "ss01" 1, "ss03" 1, "tnum" 1;
  overflow: hidden;
  user-select: none;
}

.main {
  inline-size: 100vw;
  block-size: 100vh;
  border-radius: 10rem;
  background-image: repeating-linear-gradient(135deg, hsl(0, 0%, 12%), hsl(0, 0%, 12%) 50%, black 50%, black 100%), linear-gradient(80deg, var(--first-color), var(--second-color));
  background-attachment: fixed, fixed;
  background-size: 8rem 8rem, auto;
  background-repeat: repeat, repeat;
  background-blend-mode: color-dodge;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.page-container {
  inline-size: 241rem;
  block-size: 98rem;
}

.menu-container {
  flex-basis: 0rem;
  flex-grow: 0;
  flex-shrink: 0;
  background: hsla(0, 0%, 0%, 0.8);
}