@charset "utf-8";

@use "sass:math" as *;
@use "/renderer/component/function.scss" as *;


.root {
  &[data-division="2"] {
    --width: calc((var(--page-width) - var(--page-padding-inline) * 2 - 6 * 1) / 2 * 1rem);
  }
  &[data-division="3"] {
    --width: calc((var(--page-width) - var(--page-padding-inline) * 2 - 6 * 2) / 3 * 1rem);
  }
  &:not([data-has-text]) {
    --width: var(--height);
  }
  &[data-size="large"] {
    --height: 24rem;
    --font-size: 8rem;
  }
  &[data-size="medium"] {
    --height: 18rem;
    --font-size: 7rem;
  }
  &[data-size="small"] {
    --height: 12rem;
    --font-size: 6rem;
  }
}

.root {
  @include background(hsl(240, 2%, 35%), hsl(240, 2%, 30%));
  width: var(--width);
  height: var(--height);
  border-radius: 2rem;
  color: hsl(240, 10%, 75%);
  display: flex;
  cursor: pointer;
  overflow: hidden;
}

.left {
  width: var(--height);
  font-size: calc(var(--height) * 0.65);
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.right {
  @include background(hsl(240, 2%, 25%), hsl(240, 2%, 20%));
  margin-block: 0.5rem;
  margin-inline-end: 0.5rem;
  padding-inline: calc(var(--font-size) * 0.5);
  border-start-end-radius: 1.5rem;
  border-end-end-radius: 1.5rem;
  font-size: var(--font-size);
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
}

.small-icon {
  @include background(hsl(240, 2%, 35%), hsl(240, 2%, 30%));
  width: calc(var(--height) * 0.35);
  height: calc(var(--height) * 0.35);
  inset-inline-end: calc(var(--height) * 0.02);
  inset-block-end: calc(var(--height) * 0.02);
  border-radius: 1rem;
  font-size: calc(var(--height) * 0.65 * 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute
}