@charset "utf-8";


.pane {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pane-head {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.pane-main {
  margin-top: 1px;
  margin-bottom: -4px;
  font-size: 54px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.clock-weekday-separator >* {
  margin: 0em 0.05em 0em 0.09em !important;
}

.clock-hairia-prefix >* {
  font-size: 70%;
  vertical-align: 0.3em;
  line-height: 0;
}