@charset "utf-8";

@use "sass:math" as *;


.pane {
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pane-head {
  font-size: 20rem;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  -webkit-app-region: drag;
}

.pane-main {
  margin-block-start: 1rem;
  margin-block-end: 0rem;
  font-size: 54rem;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.clock-weekday-separator >* {
  margin-inline-start: 0.08em !important;
  margin-inline-end: 0.08em !important;
}

.clock-hairia-prefix >* {
  margin-inline-end: div(0.05em, 0.7) !important;
  font-size: 70%;
  vertical-align: 0.3em;
  line-height: 0;
}