@charset "utf-8";

@use "sass:math" as *;


.clock {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clock-date {
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.clock-time {
  margin-top: 2px;
  margin-bottom: -4px;
  font-size: 70px;
  align-self: flex-end;
}

.clock-year >* >*,
.clock-year-prefixed >*:nth-child(2) >*,
.clock-month >* >*,
.clock-date >* >*,
.clock-hairia >* >*,
.clock-hours >* >*,
.clock-minutes >* >*,
.clock-seconds >* >* {
  width: 0.55em;
}

.clock-year-prefixed >*:nth-child(1) >* {
  width: div(0.55em * 2, 0.8);
  font-size: 80%;
}

.clock-year-alone >*:nth-child(1) >* {
}

.clock-slash >* >* {
  margin: 0em 0.08em;
  vertical-align: 0.08em;
  line-height: 0;
}

.clock-colon >* >* {
  margin: 0em 0.02em;
  vertical-align: 0.08em;
  line-height: 0;
}