@charset "utf-8";


.letter {
  background: linear-gradient(to right bottom, hsl(0, 0%, 80%), hsl(0, 0%, 80%));
  background-clip: text;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.letter-char {
  text-align: center;
  display: inline-block;
}