@charset "utf-8";

@use "sass:math" as *;


.meteo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.meteo-date {
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.meteo-main {
  margin-top: 2px;
  margin-bottom: -4px;
  font-size: 54px;
  display: flex;
  justify-content: space-between;
  align-self: stretch;
}

.meteo-left {
  line-height: 0;
  align-self: center;
}

.meteo-icon {
  color: hsl(0, 0%, 90%);
  font-size: 46px;
  path {
    filter: drop-shadow(0em 0em 0.3em hsla(0, 0%, 0%, 0.8));
  }
}

.meteo-value-number >* >* {
  width: 0.55em;
}

.meteo-value-number >* >*[data-content="−"] {
  vertical-align: 0.05em;
  line-height: 0;
}

.meteo-value-number >* >*[data-content="."] {
  margin: 0em -0.02em 0em 0.02em;
  width: 0.3em;
  vertical-align: 0em;
  line-height: 0;
}

.meteo-value-unit >* >*[data-content="°"] {
  margin: 0em 0em 0em div(0.08em, 1);
  vertical-align: -0.02em;
  line-height: 0;
}

.meteo-value-unit >* >*[data-content="%"] {
  margin: 0em 0em 0em div(0.1em, 0.8);
  font-size: 80%;
}

.meteo-value-none >* >*[data-content="—"] {
  vertical-align: 0.05em;
  line-height: 0;
}