@charset "utf-8";


.pane-head-icon {
  font-size: 16rem;
  line-height: 0;
  display: flex;
  align-items: center;
  position: relative;
  bottom: -0.2em;
}

.pane-main-icon {
  font-size: 42rem;
  line-height: 0;
  position: relative;
  bottom: -0.05em;
}