@charset "utf-8";


.list {
  height: 100%;
  column-gap: 0rem;
  row-gap: 4rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: space-between;
}