@charset "utf-8";


.list {
  height: 100%;
  margin-inline: -6rem;
  padding-block: 6rem;
  column-gap: 0rem;
  row-gap: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.list-row {
  display: flex;
  justify-content: space-evenly;
}