@charset "utf-8";


.background {
  inset: 0rem;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 0;
}

.background-youtube {
  inline-size: calc(max(100vw / 16, 100vh / 9) * 16);
  block-size: calc(max(100vw / 16, 100vh / 9) * 9);
  flex-grow: 0;
  flex-shrink: 0;
  opacity: 0.5;
  & >iframe {
    inline-size: 100%;
    block-size: 100%;
  }
}