@charset "utf-8";


.page {
  block-size: 100%;
  padding-inline: 15rem;
}

.menu {
  block-size: 100%;
  margin-block-start: -0.6rem;
  padding-inline: 15rem;
  display: flex;
  justify-content: space-between;
}

.menu-button-group {
  font-size: 13rem;
  font-weight: 400;
  block-size: 100%;
  gap: 4rem;
  display: flex;
  align-items: center;
}