@charset "utf-8";


.main {
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  -webkit-app-region: drag;
}

.clock-container {
  padding: 0px 15px;
  background: hsla(0, 0%, 0%, 0.7);
  flex-grow: 1;
}

.menu-container {
  flex-basis: 0px;
  flex-grow: 0;
  flex-shrink: 0;
  background: hsla(0, 0%, 0%, 0.8);
}