@charset "utf-8";


$page-width: 241rem;
$page-height: 98rem;
$menu-height: 18rem;

.main {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  mix-blend-mode: color-dodge;
  z-index: 1;
}

.page-container-wrapper {
  inline-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.page-container {
  inline-size: $page-width;
  block-size: $page-height;
}

.menu-container-wrapper {
  inline-size: 100%;
  background-color: hsl(0, 0, 30%);
  color: hsl(0, 0%, 0%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: $menu-height;
  flex-grow: 0;
  flex-shrink: 0;
}

.menu-container {
  inline-size: $page-width;
  block-size: $menu-height;
}