@charset "utf-8";

@use "/renderer/component/function.scss" as *;


.root {
  @include background(hsl(240, 2%, 15%), hsl(240, 2%, 0%));
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}