@charset "utf-8";


.root {
  width: 100%;
  color: hsl(240, 2%, 20%);
  border-block-start: solid 0.5rem currentcolor;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.container {
  width: calc(var(--page-width) * 1rem);
  height: calc(var(--menu-height) * 1rem);
  padding-inline: calc(var(--page-padding-inline) * 1rem);
  padding-block-end: 1rem;
  font-size: 12rem;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}