@charset "utf-8";


.root {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.container {
  width: calc(var(--page-width) * 1rem);
  height: calc(var(--page-height) * 1rem);
  padding-inline: calc(var(--page-padding-inline) * 1rem);
  box-sizing: border-box;
}