@charset "utf-8";


$page-width: 241rem;
$page-height: 98rem;
$menu-height: 18rem;

.root {
  width: 100vw;
  height: 100vh;
  background-image: repeating-linear-gradient(135deg, hsl(240, 2%, 20%), hsl(240, 2%, 20%) 50%, black 50%, black);
  background-attachment: fixed, fixed;
  background-size: 8rem 8rem, auto;
  background-repeat: repeat, repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}