@charset "utf-8";


.root {
  width: 100%;
  color: hsl(240, 2%, 25%);
  border-block-start: solid 0.5rem currentcolor;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.container {
  width: calc(var(--page-width) * 1rem);
  height: calc(var(--menu-height) * 1rem);
  margin-block-start: -0.6rem;
  padding-inline: 15rem;
  font-size: 13rem;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}