@charset "utf-8";


.icon {
  color: hsl(0, 0%, 90%);
  filter: drop-shadow(0em 0em 0.2em hsla(0, 0%, 80%, 1));
  mix-blend-mode: color-dodge;
  line-height: 0;
  display: inline-block;
  &[data-large] {
    filter: drop-shadow(0em 0em 0.2em hsla(0, 0%, 80%, 0.5));
  }
  &[data-simple] {
    color: inherit;
    filter: none;
    mix-blend-mode: normal;
  }
}