@charset "utf-8";

@use "sass:math" as *;


.letter {
  color: hsl(0, 0%, 90%);
  filter: drop-shadow(0em 0em 0.2em hsla(0, 0%, 80%, 1));
  mix-blend-mode: color-dodge;
  &[data-simple] {
    color: inherit;
    filter: none;
    mix-blend-mode: normal;
  }
}

.letter-char {
  text-align: center;
  display: inline-block;
  transform: skew(-2deg, 0deg);
  &[data-numeral] {
    inline-size: 0.55em;
  }
  &[data-unit] {
    margin-inline-start: div(0.09em, 0.55);
    margin-inline-end: -0.05em;
    letter-spacing: 0.05em;
    font-size: 55%;
    &[data-content="°C"] {
      margin-inline-end: 0em;
      letter-spacing: 0em;
    }
  }
  &[data-wide] {
    margin-inline-end: -0.05em;
    letter-spacing: 0.05em;
  }
  &[data-content="−"] {
    vertical-align: 0em;
    line-height: 0;
  }
  &[data-content="/"] {
    inline-size: 0.6em;
    margin-inline-start: 0.02em;
    margin-inline-end: -0.02em;
    vertical-align: 0.0em;
    line-height: 0;
  }
  &[data-content=":"] {
    inline-size: 0.3em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    vertical-align: 0.08em;
    line-height: 0;
  }
  &[data-content="."] {
    inline-size: 0.3em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    vertical-align: 0em;
    line-height: 0;
  }
  &[data-content="—"] {
    margin-inline-start: 0.07em;
    margin-inline-end: 0.07em;
    vertical-align: 0.05em;
    line-height: 0;
  }
}