@charset "utf-8";

@use "sass:math" as *;


.root {
  color: hsl(240, 10%, 75%);
  text-shadow: 0em 0.05em 0.3em hsl(240, 10%, 50%);
  &[data-simple] {
    color: inherit;
    text-shadow: none;
  }
}