@charset "utf-8";

@use "sass:math" as *;


.root {
  text-align: center;
  display: inline-block;
  transform: skew(-2deg, 0deg);
  &[data-numeral] {
    width: 0.55em;
  }
  &[data-unit] {
    margin-inline-start: div(0.09em, 0.55);
    margin-inline-end: -0.05em;
    letter-spacing: 0.05em;
    font-size: 60%;
    &[data-content="°C"] {
      margin-inline-end: 0em;
      letter-spacing: 0em;
    }
  }
  &[data-wide] {
    margin-inline-end: -0.05em;
    letter-spacing: 0.05em;
  }
  &[data-content="−"] {
    margin-block: -100%;
    vertical-align: 0em;
  }
  &[data-content="/"] {
    margin-block: -100%;
    width: 0.6em;
    margin-inline-start: 0.02em;
    margin-inline-end: -0.02em;
    vertical-align: 0.0em;
  }
  &[data-content=":"] {
    margin-block: -100%;
    width: 0.3em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    vertical-align: 0.08em;
  }
  &[data-content="."] {
    margin-block: -100%;
    width: 0.3em;
    margin-inline-start: 0em;
    margin-inline-end: 0em;
    vertical-align: 0em;
  }
  &[data-content="—"] {
    margin-block: -100%;
    margin-inline-start: 0.07em;
    margin-inline-end: 0.07em;
    vertical-align: 0.05em;
  }
}